[Desktop Entry]
Version=1.0
Type=Application
Name=Remote Desktop Host
Comment=Remote desktop host (tự động start)
Exec=/home/thuyetmt/work/learn/MyAnyDesk/python-remote-mvp/.venv/bin/python /home/thuyetmt/work/learn/MyAnyDesk/python-remote-mvp/host_gui.py --token 1 --auto-start
Path=/home/thuyetmt/work/learn/MyAnyDesk/python-remote-mvp
Icon=computer
Terminal=false
Categories=Network;Utility;
StartupNotify=true
